# Ignore everything
*
*/**

# Allowlist what we need
!out/**

!webviews/codex-webviews/dist/**

!src/media/**
!**/*.svg
!node_modules/@vscode/codicons/dist/**
!src/utils/*.json

!CHANGELOG.md
!LICENSE.md
!package*.json
!README.md
